nav{
  padding: 5px;
  margin-block-end: 200px;
  overflow: hidden;
}
nav a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  nav a.active {
    background-color: #4CAF50;
    color: white;
  }
.summary{
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}
.header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_Doj2PjgNSR8dvf-BH9riBgTMzKPVsaho28rPtHXCXJPKL_PG);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: rgb(5, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  margin-top: 80px;
  clear: both;
  padding-top: 10px; 
}
h1 span {
  display: inline-block;
  padding: 0.1em 0.3em;
  border: rgb(11, 36, 39) solid 10px;
 }
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}
h3{
  text-align: center;
}
li{
  text-decoration: underline;
}
ul{
  font-size: 15px;
  border: 5px solid black;
}
.footer{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_Doj2PjgNSR8dvf-BH9riBgTMzKPVsaho28rPtHXCXJPKL_PG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 150px;
}
.social-links{
    max-width: 700px;
    margin: 0px auto 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-links   a{
        display: block; 
        size: 50px;
        line-height: 50px;
        margin: 20px;
    }
#copyright{
  text-align: center;
}    